.numeros_sorteio_datails {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    font-family: arial,sans-serif-light,sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #188038;
    border-radius: 50%;
    margin: 0 8px 10px 0;
    letter-spacing: 2px;
    padding: 14px 0px 0px 0px;
    width: 72px;
    height: 72px;
    font-size: 33px;
    line-height: 44px;
}

.card_numbers {
    margin-bottom: 20px;
}

.numeros_sorteio {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    font-family: arial,sans-serif-light,sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #188038;
    border-radius: 50%;
    margin: 0 8px 10px 0;
    letter-spacing: 2px;
    padding: 0 0 0 2px;
    width: 44px;
    height: 44px;
    font-size: 22px;
    line-height: 44px;
}


@media (max-width: 1024px) {
    .numeros_sorteio_datails {
        width: 44px;
        height: 44px;
        font-size: 22px;
        padding: 0 0 0 2px;
    }
}
